<aside>
    <a href="/">
        <h2>Notesy</h2>
    </a>
    <br>

    <div class="sidebar">
        <a href="/list">
            <i class="fa-regular fa-note-sticky"></i>
            <p>Tasks</p>
        </a>
        <a href="">
            <i class="fa-regular fa-folder"></i>
            <p>Projects</p>
        </a>
        <a href="">
            <i class="fa-regular fa-circle-check"></i>
            <p>Completed</p>
        </a>
        <a href="">
            <i class="fa-solid fa-bars"></i>
            <p>Settings</p>
        </a>
    </div>
</aside>