<%- include("partials/header") -%>

<div class="container">
    <%- include("partials/sidebar") -%>
    <div class="completed-tasks-container">

    </div>
    <div class="completed-projects-container">

    </div>
</div>

<%- include("partials/footer") -%>