<%- include("partials/header") -%>

<h1 class="heading">Welcome to Notesy!</h1>
<!-- <h3 class="heading">Log In</h3> -->
<div class="login-container">
    <form action="/login" method="post" class="login-form">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <div class="flex">
            <button type="submit" class="login-btn">Log In</button>
            <a href="/create-account" class="login-btn">Sign Up</a>
        </div>
    </form>
</div>

<%- include("partials/footer") -%>