@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 2rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.home-container {
    max-width: none;
    display: grid;
    /* width: 96%; */
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}


.heading {
    text-align: center;
}

aside {
    background-color: black;
    color: rgb(240, 225, 225);
    float: left;
    height: 100vh;
    /* transition: all 0.3s ease;; */
    box-sizing: var(--box-shadow);
    border-radius: 0px 15px 15px 0px;
    text-align: center;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    /* align-items: center; */
}

aside .sidebar p {
    font-size: 0.87rem;
}

aside .sidebar a {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 0.3rem;
    transition: all 0.3s ease;
    color: rgb(240, 225, 225);
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
}

.dash-container {
    display: flex;
    flex-direction: column;
}

/* Home Page Numbers Row */
.nums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.nums-tasks {
    grid-column-start: 1;
    grid-column-end: 2;
}

.num-projects {
    grid-column-start: 2;
    grid-column-end: 3;
}

.num-complete-tasks {
    grid-column-start: 3;
    grid-column-end: 4;
}

.num-complete-project {
    grid-column-start: 4;
}

.status {
    border: 2px solid;
    padding-left: 0.3rem;
    height: 10vh;
}

/* Home Page Preview Row */
.preview {
    display: flex;
    justify-content: start;
    margin: 5vh 0;
}

.preview div {
    border: 2px solid;
    height: 35vh;
    width: 49%;
    padding: 0.5rem;
}

.task-prev {
    margin-right: 2%;
}

/* Home Page Profile */
.profile-section {
    display: flex;
    justify-content: start;
}

.profile-section div {
    border: 2px solid;
    height: 35vh;
    width: 49%;
    padding: 0.5rem;
}

.profile-card {
    margin-right: 2%;
}

/* Task Categories Page */
.container {
    max-width: none;
    display: grid;
    /* width: 96%; */
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
    overflow: auto;
}

.task {
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    height: 150px;
    margin: 16px;
    float: left;
    /* overflow: auto; */
}

.category-desc-display, .task-content {
    height: 55%;
    overflow: auto;
}

.new-cat, .new-post, .new-project {
    text-align: center;
    font-size:2rem;
    width: 100px;
    height: 100px;
}

.new-cat h3, .new-post h3, .new-project h3 {
    padding: 10px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del-btn-cat {
    background: none;
    width: 20px;
    text-decoration: solid;
}

.del-btn-cat:hover {
    cursor: pointer;
}

/* Create New Category Page */
.create-category{
    display: flex;
    flex-direction: column;
}

.category-title {
    border: 1px solid;
    height: 3%;
    width: 15%;
    margin-bottom: 1vh;
}

.create-category textarea {
    border: 1px solid;
    width: 80%;
    margin-bottom: 1vh;
}

.category-color {
    margin-bottom: 1vh;
}

.category-color label{
    margin-right: 0.5rem;
}

.create-category button {
    width: 100px;
    height: 40px;
    border-radius: 15%;
    background-color: black;
    color: white;
}

/* Tasks Page */
.task-bottom {
    display: flex;
    justify-content: space-between;
}

.del-btn {
    background: none;
}

/* New Task */
.new-post button {
    background-color: transparent;
    font-size: 2rem;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
}

.new-task-popup {
    /* display: none; */
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.task-container {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #000;
    z-index: 9;
    background-color: white;
    text-align: left;
}

.task-container form {
    max-width: 300px;
    padding: 20px;
}

.task-container input, .task-container textarea {
    border: 1px solid;
    display: block;
    margin-bottom: 2px;
}

.task-container div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.task-container button{
    background-color: black;
    color: white;
    padding: 4px;
}

/* Projects */

.project-card {
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 360px;
    height: 300px;
    margin: 16px;
    float: left;
}

.project-desc {
    height: 100px;
    overflow: auto;
}

.stack-items {
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80px;

}

.stack-items p {
    padding-right: 5px;
}

/* Compose-Project */
.create-project {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.create-project input, .create-project textarea, .create-project select {
    border: 1px solid;
    max-width: 600px;
}

#progress {
    cursor: pointer;
}

.create-project input, .create-project select {
    height: 30px;
    max-width: 400px;
}

#techStackInputs {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.stack-input-item{
    margin-bottom: 5px;
}

.create-project-btn {
    margin-top: 10px;
    width: 300px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: large;
    cursor: pointer;
}

.add-tech {
    width: 200px;
    background-color: black;
    color: white;
    height: 30px;
    cursor: pointer;
}